.nav_bar{
	width: 100%;
	height: 100px;
	background: black;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.logo{
	width: 100%;
	height: auto;
	padding: 10px;
}
.logo img{
	width: 50px;
	height: 50px;
}
.menu{
	width: 100%;
	height: auto;
	padding: 10px;
}
.menu ul{
	display: flex;
	padding: 5px;
	list-style-type: none;
	float: right;
}
.menu li{
    padding: 10px;
    display: inline;
    text-align: right;
}
.menu a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.banar{
	background-image: url("../images/paris.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;  
	
}
.banar h1{
	text-align: center;
	font-size: 40px;
	padding-top: 10%;
	font-family: arial;
	color: tomato;
}
.banar p{
	text-align: center;
	font-family: arial;
	color: tomato;
}
.butt{
	margin-left: 45%;
}
.butt button{
	background: tomato;
	color: white;
	border-radius: 10%;
	width: 100px;
	height: 40px;
}
.butt button:hover{
	background: cyan;
}
.resource{
	width: 100%;
	height: auto;
	background: olive;
	padding: 10px;
}
.resource img{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
}
.resource h1{
	text-align: center;
	font-size: 40px;
	color: tomato;
}
.resource p{
	text-align: center;
	color: tomato;
}
.best{
	display: flex;
   width: 100%;
   height: auto;
   background: white;
}
.best_images{
	width: 50%;
	height: auto;
	padding: 10px;
}
.best_class{
	padding: 10px;
	width: 50%;
	height: auto;
}
.best_images img{
	width: 300px;
	height: 200px;
	border-radius: 50%;
	float: right;
}
.best_class button{
	background: cyan;
	color: white;
	border-radius: 50%;
	width: 120px;
	height: 50px;

}
.best_class button:hover{
	background: teal;
}
.superior{
	display: flex;
	width: 100%;
	height: auto;
	background: black;
	color: white;
}
.super_class{
	padding: 10px;
	width: 50%;
	height: auto;
}
.super_img{
	width: 50%;
	height: auto;
	padding: 10px;
}
.super_img img{
	width: 300px;
	height: 200px;
	border-radius: 50%;
	float: left;
}
.super_class button{
	background: cyan;
	color: white;
	border-radius: 50%;
	width: 120px;
	height: 50px;
}
.super_class button:hover{
	background: teal;
}
.thums{
	display: flex;
	width: 100%;
	height: auto;
	padding: 10px;
}
.thumb{
	height: 200px;
	width: 33%;
	display: flex;
}
.thumb img{
	width: 100%;
	height: 200px;
}
.thumb img:hover{
	width: 200%;
	border: 5px solid red;
}
.recom{
	background: white;
	text-align: center;
	padding: 10px;
}
.recom h1{
	font-size: 40px;
	font-family: arial;
}
.recom p{
	font-size: 20px;
	text-align: center;
}
.recom button{
	width: 120px;
	height: 40px;
	background: olive;
	border-radius: 40%;
}
.recom button:hover{
	background: blue;
}
.contact{
	background: yellowgreen;
	text-align: center;
	color: white;
	padding: 10px;
}
.footer{
	text-align: center;
	padding: 10px;
}


